* {
	margin: 0;
	padding: 0;
}

body {
	max-width: 1366px;
	margin: 0 auto;
	color: #333333 ;
}

a {
	text-decoration: none;
}

body {
	background-color: #e5e5e5;
	font-family: 'Roboto', sans-serif;
}

.container {
	padding: 2em;
}

.button {
	cursor: pointer;
	padding: 0.5em;
	color: white;
	border-radius: 3px;
	text-align: center;
}

.fa {
	color: #c6c6c6;
}

.button--blue {
	background-color: #007bc1;
}

.button--blue:hover {
	background-color: #004a75;
}

.button--orange {
	background-color: #ff8000;
}

.button--orange:hover {
	background-color: #cc6600;
}

.button--trans {
	border: 2px solid white;
}

.button--trans:hover {
	background-color: white;
	color: #007bc1;
}


.hero {
	background: url("assets/work-desk__dustin-lee.jpg");
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;
}

.hero__transparent {
	background-color: #004a75;
	/* z-index: 999; */
	width: 100%;
	opacity: 0.6;
	height: 100vh;
	position: absolute;
}

.hero__logos {
	width: 50px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer
}

.hero__content {
	z-index: 1;
	color: white;
	margin: 0 auto;
	max-width: 500px;
	display: grid;
	grid-template-rows: auto;
	grid-gap: 1em;
	text-align: center;
	justify-items: center;
	/* line-height: 1em; */
}

.highlight-pan {
	max-width: 1366px;
	margin: 0 auto;
}

.highlight-pan__card {
	display: grid;
	grid-gap: 2em;
	margin: 1em 0;
}

.highlight-pan__item {
	border: 1px solid #c6c6c6;
	padding: 1em;
}

.footer {
	font-size: 14px;
	padding: 2em;
	color: #eaeaea;
	text-align: center;
	margin-top: 1em;
	background-color: #050328;
}

.sliding-panel {
	color: white;
	z-index: 999;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 1.5em;
	display: grid;
	grid-template-rows: auto;
	grid-gap: 1em;
	background-color: #007bc1;
	opacity: 0.9;
	max-width: 600px;
}

.sliding-panel__form {	
	display: grid;
	grid-gap: 0.5em;
}

/* Desktop Screen */
@media (min-width: 960px) {
	.notification {
		margin: 0 auto;
		padding: 1em;
		max-width: 660px;
		display: grid;
		grid-template-columns: 85% 15%;
		align-items: center;
		grid-gap: 1em;
	}

	.highlight-pan__card {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.sliding-panel__form {
		grid-template-columns: 80% 20%;
	}
}

/* Mobile Screen */
@media (max-width: 480px) {
	.notification {
		padding: 0.5em;
	}
	
	.notification__title {
		margin-bottom: 0.5em;
		font-size: 13px;
	}

	.notification .button {
		display: inline-block;
	}

	.highlight-pan p {
		font-size: 19px;
	}

	.highlight-pan__card {
		grid-template-columns: 1fr;
	}

	.highlight-pan__item > p {
		font-size: 15px;
	}

	.hero__content > h1 {
		font-size: 30px;
	}

	.hero__content > p {
		font-size: 19px;
	}

	.sliding-panel__form {
		grid-template-columns: 1fr;
		grid-gap: 1em;
	}

	.sliding-panel__form > input {
		padding: 0.7em;
	}
}

/* Table Screen  */
@media (min-width: 480px) and (max-width: 960px) {
	.notification {
		margin: 0 auto;
		padding: 1em;
		max-width: 720px;
		display: grid;
		grid-template-columns: 4fr 1fr;
		align-items: center;
		grid-gap: 1em;
	}

	.highlight-pan__card {
		grid-template-columns: 1fr 1fr;
	}

	.sliding-panel__form {
		grid-template-columns: 1fr;
		grid-gap: 1em;
	}

	.sliding-panel__form > input {
		padding: 0.5em;
	}
}